$white: #FFFFFF;
$lite-gray: #E8E8E8;
$gray: #B8B8B8;
$dark-gray: #8A8A8A;
$lite-black: #6E6E6E;

$dark-blue: #3373B8;
$lite-blue: #4499F5;

@import url(http://fonts.googleapis.com/css?family=Raleway:100);
$railway: 'Raleway', sans-serif;