<div class="container">
    <div id="top-nav">
        <nav>
            <div id="brand">
                <a href="#">Firefly Photography</a>
            </div>

            <div class="inline-links">
                <ul>
                    <li><a href="#">About</a>
                        <ul>
                            <li><a href="#/update">Update</a></li>
                        </ul>
                    </li>
                    <li><a href="#/blog">Blog</a>
                        <ul>
                            <li><a href="#/new_post">New Post</a></li>
                            <li><a href="#/new_post">View Post</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div id="main"></div>
</div>