<div class="container">
    <div id="top-nav">
        <nav>
            <div id="brand">
                <a href="#">Firefly Photography</a>
            </div>

            <div class="inline-links">
                <a href="#">About</a>
                <a href="#/blog">Blog</a>
                <a href="#">Gallery</a>
                <a href="#">Contact</a>
            </div>
        </nav>
    </div>

    <div id="main"></div>
</div>