<form id="post-form" action="/api/posts" method="POST">
    <input type="text" data-field="title" id="title" name="title" placeholder="Title" value="{{title}}" /><br>
    <textarea name="description" data-field="description" id="description" cols="30" rows="10"></textarea><br>
    <textarea name="body" data-field="body" id="body" cols="30" rows="10"></textarea><br>
    <input type="submit">
</form>
<h2>What</h2>