<h1>Login</h1>

<form id="login-form">
    <label for="email">Email</label>
    <input type="text" name="email" id="email" /><br>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" />
    <input type="submit" value="Login">
</form>

<h3>Not Signed Up?</h3>
<a href="#" id="sign-up-show">Get Started</a>