<div id="grid"></div>

<form id="image-upload"
      enctype="multipart/form-data"
      action="/api/galleries"
      method="post">
    <input type="text" name="title" />
    <input type="file" name="images" multiple="multiple" />
    <input type="submit">
</form>

<progress class="upload-progress-bar" max="200" value></progress>
