<div class="row full-width">
    <div class="small-11 small-centered medium-9 medium centered columns">
        <h1>Galleries</h1>
        <div id="galleries-grid"></div>
        <div id="current-gallery"></div>
    </div>
</div>
